@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" title="Olá, Usuário!"> Bem vindo @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Eventos" asp-action="Sair">
            <button  type="submit" class="nav-link btn btn-link text-dark"> Sair </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Eventos" asp-action="Registro"> Registre-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-asp-controller="Eventos" asp-asp-action="Entrar"> Entrar</a>
    </li>
}
</ul>